/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Keyframes */
@keyframes loadInAnimation {
    0% { opacity: 0; }
    100% { opacity: 100; }
}
@keyframes toastFade {
    0% { opacity: 0; }
    15% { opacity: 1; }
    85% { opacity: 1; }
    100% { opacity: 0; }
}

/* Root defaults */
:root {
    --inputbg: #2c2c2c;
    --inputborder: #444;
    --uibg: #8B0000;
    --textcolor: #ffffff;
    --bg: #0c0c0c;
    --shadow: 0px 0px 4px #8B0000;
    --margin: 4rem;
}

/* Highlighted text */
::selection {
    background-color: var(--uibg);
    color: var(--textcolor);
}

/* Global font and resets */
* {
    font-family: 'Lato', sans-serif;
    transition-duration: 0.5s;
    outline: none;
    border: none;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    color: var(--textcolor);
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--textcolor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Hide elements */
.hiddenUpload {
    display: none;
    visibility: hidden;
}

/* Header & Footer */
header, footer {
    background-color: var(--uibg);
    display: flex;
    font-weight: 700;
    padding: 0.7rem;
    width: 100%;
    z-index: 1;
    justify-content: center;
    text-align: center;
}
header {
    top: 0;
    border-radius: 0 0 20px 20px;
    position: fixed;
    box-shadow: 0 5px 10px var(--uibg);
}
footer.noscroll { position: fixed; overflow: hidden; }
footer {
    bottom: 0;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -5px 10px var(--uibg);
}
footer a, footer a:visited, header a, header a:visited {
    margin: 0 1.5rem;
    text-decoration: none;
}
footer a:hover, header a:hover {
    text-shadow: 2px 2px 6px var(--textcolor);
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    header, footer { flex-direction: column; align-items: center; }
    header { border-radius: 0; }
    footer { border-radius: 0; }
    * { --margin: 12rem; }
}

/* Main container */
main {
    animation: 1.25s ease-in-out 0s 1 loadInAnimation;
    align-items: center;
    flex-direction: column;
    display: flex;
    min-height: calc(100vh - (2 * 0.7rem));
    gap: 0;
    flex-wrap: wrap;
    margin: auto;
    margin-top: var(--margin);
    width: 90%;
    height: auto;
}
main#main.noscroll { justify-content: center; }

/* Text elements */
h1, h2, h3, p, a, label { margin: 0; padding: 0; text-shadow: var(--shadow); }
.samerow { display: flex; justify-content: center; gap: 0; flex-wrap: wrap; align-items: center; }
h1 { font-size: 100px; }
h2 { font-size: 60px; }
h3 { font-size: 40px; }
p, a { font-size: 24px; }

/* Buttons & inputs */
button, input#websubmit.submit, input[type="submit"] {
    cursor: pointer;
    background-color: var(--uibg);
    border-color: var(--inputborder);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    padding: 7px;
    margin: 10px 20px;
}
button:hover, input#websubmit.submit:hover, input[type="submit"]:hover {
    filter: brightness(80%);
    transform: scale(1.07);
}

input[type="text"], input[type="password"], select {
    width: 50%;
    background-color: var(--inputbg);
    font-size: 20px;
    padding: 0.8% 0.8%;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid var(--inputborder);
    transition: opacity 0.25s ease-in-out;
    opacity: 100%;
}
input[type="text"]:hover, input[type="password"]:hover, select:hover { opacity: 80%; }
::placeholder { color: var(--textcolor); opacity: 0.4; }

/* Images & containers */
img { width: 100%; aspect-ratio: auto; user-select: none; filter: drop-shadow(var(--shadow)); image-rendering: pixelated; }
.img-container { display: flex; justify-content: center; align-items: center; flex-direction: row; gap: 0; flex-wrap: wrap; width: 6%; aspect-ratio: 1/1; margin: 2%; }
.img-container a { width: 100%; }
.game, .suggest {
    width: 15%;
    border-radius: 20px;
    display: inline-block;
    background-color: var(--uibg);
    margin: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px var(--uibg);
}
.game:hover, .suggest:hover { transform: scale(1.1); filter: brightness(85%); box-shadow: 0px 0px 5px 5px var(--uibg); }
.game h1, .suggest h1 { font-size: 12px; float: right; margin: 3px 10px 3px 0; }
.game img, .suggest img { width: 100%; border-radius: 20px; aspect-ratio: 1/1; }
img.star { float: left; width: 10%; margin: 3px 0 3px 10px; }

/* Misc containers */
#noscroll { overflow-y: hidden; justify-content: center; }
#games, #pinned { width: 100%; justify-content: center; }
.bookmarkletdiv { width: 30%; background-color: var(--uibg); box-shadow: 0px 0px 5px 5px var(--uibg); padding: 5px; margin: 15px; border-radius: 10px; display: inline-block; }
.bookmarkletdiv a { font-size: 30px; }
form { width: 100%; }
.samerow.themebtns { width: 70%; }
label { font-size: 20px; padding-left: 5px; }

/* Popup & Toast */
#popup { width: 50%; height: 40%; z-index: 99999999; position: absolute; top: 50%; left: 50vw; transform: translate(-50%, -50%); display: flex; flex-direction: column; background-color: var(--inputbg); border-color: var(--inputborder); border-width: 5px; border-radius: 10px; border-style: solid; justify-content: center; align-items: center; box-shadow: 0px 0px 5px 5px var(--uibg); }
#popup input { width: 90%; height: 30%; }
#popup input[type=file] { height: auto; text-align-last: center; display: block; margin: 30px; }
#popup h1 { font-size: 32px; }
#popup #close { position: absolute; right: 10px; top: 10px; }
#toast { position: fixed; top: 0; right: 0; margin: 10px; padding: 10px; background-color: var(--bg); border-radius: 10px; border-width: 10px; border-color: var(--inputborder); border-style: solid; z-index: 10000; text-align: center; opacity: 0; transition-duration: 1s; max-width: 30%; }
#toast h1 { font-size: 20px; text-align: center; }
#toast p { font-size: 16px; text-align: center; }

/* Discord button */
#discord { position: fixed; bottom: 10px; right: 10px; width: 56px; height: 56px; z-index: 199975; border-radius: 100%; background-image: url("/img/discord.svg"); background-size: 60%; background-position: center; background-repeat: no-repeat; border-width: 0; }

/* ------------------- THEMES ------------------- */

/* Main: GX-GamesCrack */
body[theme=gx-gamescrack] {
    --inputbg: #6B0000;
    --inputborder: #8B0000;
    --uibg: #8B0000;
    --textcolor: #ffffff;
    --bg: #0c0c0c;
    --shadow: 0px 0px 4px #8B0000;
}

/* Other themes */
body[theme=mainnew] { --inputbg: #3c096c; --inputborder: #5a189a; --uibg: #240046bb; --textcolor: #fff; --bg: #10002b; }
body[theme=threekho] { --inputbg: #28A018; --inputborder: #0A8F00; --uibg: #111111; --textcolor: #fff; --bg: #000000; }
body[theme=art] { --inputbg: #0284d4; --inputborder: #0284d4; --uibg: #0e1213; --textcolor: #fff; --bg: #1a2023; }
body[theme=dogcat] { --inputbg: #537294; --inputborder: #30719c; --uibg: #2a7491; --textcolor: #fff; --bg: url("/img/backgrounds/dogcat.svg"), rgb(26,127,158); }
body[theme=custom] { --inputbg: #3c096c; --inputborder: #5a189a; --uibg: #240046; --textcolor: #fff; --bg: #10002b; }
body[theme=light] { --inputbg: #0c0c0c; --inputborder: #c76408; --uibg: #c76408; --textcolor: #fff; --bg: #0c0c0c; }
body[theme=dark] { --inputbg: #333333; --inputborder: #444444; --uibg: #242424; --textcolor: #fff; --bg: #0c0c0c; }
body[theme=egamepass] { --inputbg: #4f6ed1; --inputborder: #5586e0; --uibg: #185494; --textcolor: #a7d3ff; --bg: #16416f; }
body[theme=cools1te] { --inputbg: #a134dc; --inputborder: #b153e3; --uibg: #ab28cf; --textcolor: #d3a4fa; --bg: #8e14af; }

/* Latte/Frappe/Macchiato/Mocha */
body[theme=latte], body[theme=lattefalse] { --inputbg: #9ca0b0; --inputborder: #8c8fa1; --uibg: #ccd0da; --textcolor: #4c4f69; --bg: #eff1f5; --shadow: 0px 0px 4px #ccd0da; }
body[theme=frappe], body[theme=frappefalse] { --inputbg: #737994; --inputborder: #838ba7; --uibg: #414559; --textcolor: #cad3f5; --bg: #303446; --shadow: 0px 0px 4px #414559; }
body[theme=macchiato], body[theme=macchiatofalse] { --inputbg: #6e738d; --inputborder: #8087a2; --uibg: #363a4f; --textcolor: #cad3f5; --bg: #24273a; --shadow: 0px 0px 4px #363a4f; }
body[theme=mocha], body[theme=mochafalse] { --inputbg: #6c7086; --inputborder: #7f849c; --uibg: #313244; --textcolor: #cdd6f4; --bg: #1e1e2e; --shadow: 0px 0px 4px #313244; }

/* Sunset/Mountains/Vaporwave/Seraph/Nighttime */
body[theme=sunset], body[theme=sunsetfalse] { --inputbg:#537294; --inputborder:#30719c; --uibg:#2a7491; --textcolor:#fff; --bg:url("/img/backgrounds/sunset_theme.jpg"), rgb(59,67,78); --shadow:0px 0px 2px #a5dcf5; }
body[theme=mountains], body[theme=mountainsfalse] { --inputbg:#d37f7f; --inputborder:#e28a8a; --uibg:#d38493; --textcolor:#fff; --bg:url("/img/backgrounds/mountains_theme.jpg"), #bf7483; --shadow:0px 0px 4px #bba29b; }
body[theme=vaporwave], body[theme=vaporwavefalse] { --inputbg:#4b2d64; --inputborder:#74568d; --uibg:#51166d; --textcolor:#fff; --bg:url("/img/backgrounds/vaporwave_theme.jpg"), #61437a; --shadow:0px 0px 4px #000000; }
body[theme=seraph], body[theme=seraphfalse] { --inputbg:#000; --inputborder:#fff; --uibg:#000; --textcolor:#fff; --bg:url("/img/backgrounds/seraph_theme.png"), #1c1a1e; --shadow:0px 0px 4px #fff; }
body[theme=nighttime], body[theme=nighttimefalse] { --inputbg:#29374d; --inputborder:#fff; --uibg:#29374d; --textcolor:#fff; --bg:url("/img/backgrounds/nighttime_theme.png"), #28272a; --shadow:0px 0px 4px #fff; }

